<ion-header>
  <ion-toolbar>
    <ion-title>restpass</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">

  <ion-item color="whide" class="ion-text-center ion-padding">

    <ion-label position="floating">Usuario</ion-label>
    <ion-input placeholder="Usuario" [(ngModel)]="mdl_user"></ion-input>

    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password"  placeholder="***********" [(ngModel)]="mdl_newpass"></ion-input>
  </ion-item>

  <div>
  <ion-button (click)="newPass()">Confirmar</ion-button>

  <ion-button (click)="backlog()">Volver al Login</ion-button>
  </div>


</ion-content>