ion-content{
    --padding-top: 40 %;
    --padding-start: 10%;
    --padding-end: 10%;
    --background: url('https://image.winudf.com/v2/image1/Y2wuZHVvYy52aXZvX3NjcmVlbl8wXzE1OTczNjcxMDVfMDQ5/screen-0.jpg?fakeurl=1&type=.webp')
    0 0/100% 100% no-repeat;
    --color: white;
}
ion-item{
    --color:rgba(255, 255, 255, 0.719);
}